{{define "content"}}
<div class="container">
    The goal of this app is to provide a method for sharing secrets between two parties in a safer manner than email or
    chat messages. By having the secrets deleted upon viewing, there is no risk of a replay attack or a future
    compromise of email or chat message history to expose the secret data.
</div>

<section class="section">
    <div class="container">
        <h4 class="title is-4">Credits:</h4>
        <ul>
            <li><a href="https://github.com/gtank/cryptopasta">CryptoPasta - Used for encrypting/decrypting messages
                    being stored in cloud providers storage.</a></li>
        </ul>
    </div>
</section>
{{end}}