{{define "content"}}
<section class="section">
    <div class="container">
        <h4 class="title is-4">Open Source</h4>
        <div class="content">
                The source code of this application is available <a href="https://github.com/ptinsley/selfdestruct">here</a>.
        </div>

        <h4 class="title is-4">Code Quality</h4>
        Code Climate Maintainability Score:<br />
        <a href="https://codeclimate.com/github/ptinsley/selfdestruct/maintainability"><img src="https://api.codeclimate.com/v1/badges/ec3d4cdea33216a3e584/maintainability" /></a> 
    </div>
</section>
{{end}}