{{define "content"}}
{{ if .retrieveURL }}
<div class="field has-addons">
        <div class="control is-expanded">
                <input class="input" type="text" id="secret-link" value="{{.retrieveURL}}">
        </div>
        <div class="control">
                <button class="button" id="copy-button" data-clipboard-target="#secret-link">
                        Copy to Clipboard
                </button>
        </div>
</div>

<script src="/assets/js/3rdparty/clipboard.min.js"></script>
<script src="/assets/js/clippy.js"></script>
{{ end }}
{{ end }}